@keyframes titulo{
    0%{
        text-shadow: 0px 0px var(--colorPrincipal), 0px 0px var(--leter2);
        transform: scale(1.4);
    }
    70%{
        text-shadow: 30px 20px var(--colorPrincipal), -30px -20px var(--leter2);
    }
    100%{
        text-shadow: 6px 4px var(--colorPrincipal), -6px -4px var(--leter2);
        transform: scale(1);
    }
}
*{
    margin: 0;
    padding: 0;
}
:root[data-theme="dark"]{
    --backgroundBody: #000;
    --backgroundHeaderFooter: #090909;
    --backgroundMain: #111;
    --background1: #000;
    --background2: #151515;
    --background3: #00ffa5;
    --texto: #fff;
    --colorPrincipal: #ffa500;
    --colorLines: #afafaf;
    --leter2: #008080;
}
:root[data-theme="light"]{
    --backgroundBody: #fff;
    --backgroundHeaderFooter: #f1f1f1;
    --backgroundMain: #eee;
    --background1: #ddd;
    --background2: #eee;
    --background3: #00ffa5;
    --texto: #000000;
    --colorPrincipal: #ffa500;
    --colorLines: #111;
    --leter2: #00ffdd;
}
body {
    font-family: Arial, sans-serif;
    font-size: large;
    color: var(--texto);
    background-color: var(--backgroundBody);
    .espaciado{
        height: 50px;
    }
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--colorPrincipal);
    border-radius: 5px;
}
header{
    position: fixed;
    border-bottom: 3px solid var(--colorPrincipal);
    background-color: var(--backgroundHeaderFooter);
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    #logo{
        font-weight: bold;
        font-size: 27px;
        color: var(--colorPrincipal);
    }
    #logo:hover{
        color: #000;
    }
    .desplegableContenido{
        text-align: right;
        width: 100%;
        @media (max-width: 768px){
            display: none;
        }
    }
    & li{
        list-style: none;
    }
    & a{
        color: var(--texto);
        text-decoration: none;
        font-size: 20px;
        padding: 4px 20px;  
        border-radius: 6px;
        transition: background-color 0.5s, color 1s;
    }
    & a:hover{
        color: var(--backgroundBody);
        background-color: var(--colorPrincipal);
    }
    .menuApareceDesaparece{
        position: fixed;
        background-color: var(--backgroundBody);
        width: 186px;
        height: 430px;
        right: -190px;
        top: 60px;
        border-radius: 13px 0 0 13px;
        text-align: center;
        z-index: 1;
        transition: right 0.8s;
        .despegableFormato{
            padding-top: 15px;
            & li{
                margin: 13px 0;
            }
        }
    }
    #menuCheck{
        display: none;
    }
    .menuDesing{
        cursor: pointer;
        .menuHamburger{
            width: 41px;
            height: 41px;
            justify-content: center;
            background-color: var(--background1);
            border-radius: 56% 44% 82% 18% / 21% 20% 80% 79% ;
            transition: background-color 0.5s;
            .lineHamburgerArriba{
                top: 7.8px;
                margin-left: 5px;
                position: absolute;
                width: 30px;
                height: 4px;
                border-radius: 2px;
                background-color: var(--texto);
                transition: background-color 1s;
            }
            .lineHamburger{
                top: 19px;
                margin-left: 5px;
                position: absolute;
                width: 25px;
                height: 4px;
                border-radius: 2px;
                background-color: var(--texto);
                transition: background-color 1s;
            }
            .lineHamburgerAbajo{
                top: 30px;
                margin-left: 5px;
                position: absolute;
                width: 20px;
                height: 4px;
                border-radius: 2px;
                background-color: var(--texto);
                transition: background-color 1s;
            }
        }
    }
    .menuDesing:hover{        
        .menuHamburger{
            background-color: var(--colorPrincipal);
            .lineHamburgerArriba{
                background-color: var(--backgroundBody);
            }
            .lineHamburger{
                background-color: var(--backgroundBody);
            }
            .lineHamburgerAbajo{
                background-color: var(--backgroundBody);
            }
        }
    }
    #menuCheck:checked ~ .menuDesing{   
        .menuHamburger{
            background-color: var(--background3);
            .lineHamburgerArriba{
                background-color: var(--backgroundBody);
            }
            .lineHamburger{
                background-color: var(--backgroundBody);
            }
            .lineHamburgerAbajo{
                background-color: var(--backgroundBody);
            }
        }
    }
    #menuCheck:checked ~ .menuApareceDesaparece{
        right: 0;
    }
}
main {
    background-color: var(--backgroundMain);
    max-width: 1200px;
    padding: 20px;
    #title{
        height: 100px;
    }
    & h1{
        text-align: center;
        font-size: 60px;
        text-shadow: 6px 4px var(--colorPrincipal), -6px -4px var(--leter2);
        background-color: var(--backgroundBody);
        border-radius: 57% 43% 72% 28% / 25% 56% 44% 75%;
        padding: 20px;
        max-width: 500px;
        margin: 0 auto;
        animation: titulo 2s ease-in-out;
        transition: border-radius 3s, text-shadow 4s;
    }
    & h1:hover{
        border-radius: 83% 17% 21% 79% / 57% 23% 77% 43%;
        text-shadow: -30px 20px var(--colorPrincipal), 30px -20px var(--leter2);
    }
    & h2{
        text-align: center;
        background-color: var(--colorPrincipal);
        margin: 10px 60px;
        padding: 7px 30px;
        max-width: 400px;
        border-radius: 17% 83% 9% 91% / 75% 45% 55% 25%;
        transition: border-radius 3s;
    }
    & h2:hover{
        border-radius: 21% 79% 86% 14% / 56% 26% 74% 44%;
    }
    .sectionPreguntas{
        #preguntasVizualizar{
            .bloqueGridPreguntas{
                .visualizarimgText{
                    & h3{
                        text-align: center;
                    }
                    & dd{
                        padding-bottom: 10px;
                    }
                    & b{
                        color: var(--colorPrincipal);
                    }
                }
                .visualizarimg{
                    padding: 30px 0;
                    text-align: center;
                    columns: 550px 2;
                    .textPreguntasVizualizar{
                        padding-bottom: 10px;
                        margin: auto 0;
                    }
                    @media (min-width: 820px){
                        display: flex;
                    }
                }
                .visualizarimg1{
                    padding: 30px 0;
                    text-align: center;
                    .textPreguntasVizualizar{
                        padding-bottom: 10px;
                        margin: auto 0;
                    }
                    @media (min-width: 820px){
                        display: flex;
                    }
                }
                & img{
                    width: 100%;
                    max-width: 550px;
                    transition: transform 2s;
                }
                & img:hover{
                    transform: scale(1.23);
                }
                & h3{
                    color: var(--colorPrincipal);
                    padding-bottom: 10px;
                }
            }
        }
    }
    .section{
        width: 95%;
        margin: 0 auto;
        border-radius: 13% 87% 17% 83% / 86% 16% 84% 14%;
        background-color: var(--background1);
        border-left: 5px solid var(--colorPrincipal);
        border-bottom: 7px solid var(--colorPrincipal);
        padding: 15px 5px;
        transition: border-radius 3s;
        .atajo{
            width: 98%;
            margin: 0 auto;
            padding-bottom: 5px;        
            text-align: center;
            #imgRender{
                width: 80%;
                border-radius: 43% 57% 82% 18% / 66% 57% 43% 34%;
                border: 5px solid var(--colorLines);
            }
            .bloqueGrid{
                width: 98%;
                margin: 0 auto;
                display: grid;
                gap: 20px;
                .tablas{
                    width: auto;
                    height: auto;
                    margin: 20px auto;
                    padding: 0 10px;
                    border: 1px solid var(--colorLines);
                    background-color: var(--background2);
                    border-radius: 5px;
                    & table{
                        border-collapse: collapse;
                        margin-bottom: 10px;
                        & td{
                            border: 1px solid var(--colorLines);
                            padding: 8px;
                            text-align: left;
                            & b{
                                color: var(--colorPrincipal);
                            }
                        }
                    }
                }
            }
        }
    }
    .section:hover{
        border-radius: 79% 21% 61% 39% / 56% 22% 78% 44%;
        & h2{
            border-radius: 21% 79% 86% 14% / 56% 26% 74% 44%;
        }
    }
    .trailer{
        text-align: center;
        & iframe{
            width: 560px;
            height: 315px;
            @media (max-width: 500px){
                width: 560px;
                height: 315px;
            }
        }
    }
    #imageShaders{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
        & img{
            width: 100%;
            height: 100%;
        }
    }
    .contactar{
        border-top: 2px solid var(--texto);
        width: 90%;
        margin: 0 auto;
        padding: 17px;
        font-size: 17px;
        .datosPersonales{
            & input{
                text-transform: capitalize;
            }
        }
        & label{
            display: block;
            margin-bottom: 5px;
        }
        & input, textarea{
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 17px;
            box-sizing: border-box;
            font-size: 17px;
        }
        & button{
            display: block;
            width: 100%;
            padding: 10px;
            background-color: var(--colorPrincipal);
            color: var(--textoBlanco);
            font-size: 20px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 3s, color 2s;
            margin-bottom: 20px;
        }
        & button:hover{
            background-color: var(--background3);
            color: var(--background1);
        }
        .desplegableContenido{
            display: none;
            border-top: 3px solid var(--colorLines);
            padding-top: 20px;
            text-align: center;
            width: 100%;
            & a{
                color: var(--texto);
                text-decoration: none;
                font-size: 20px;
                padding: 4px 20px;  
                border-radius: 6px;
                transition: background-color 0.5s, color 1s;
            }
            & a:hover{
                color: var(--backgroundBody);
                background-color: var(--colorPrincipal);
            }
            @media (max-width: 768px){
                display: block;
            }
        }
    }
}
footer {
    border-top: 5px solid var(--colorPrincipal);
    background-color: var(--backgroundHeaderFooter);
    text-align: right;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & a{
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: #0e8146;
        border-radius: 8px;
        border: 3px solid var(--texto);
        padding: 8px 13px;
        transition: border-radius 5s, padding-right 3s;
        @media (max-width: 768px){
            font-size: 15px;
        }
    }
    & a:hover{
        padding-right: 25px;
        border-radius: 39% 61% 84% 16% / 34% 46% 54% 66% ;
    }
    & p{
        @media (max-width: 768px){
        font-size: 13px;
        }
    }
}