*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --texto: #ffffff;
    --texto1: #000000;
    --background: #111111;
    --background1: #222222;
    --background2: #333333;
    --background3: #444444;
    --colorPrincipal: #ffa500;
    --colorSecundario: #00ffa5;
    --colorTerciario: #dddddd;
}
body{
    font-family: 'Alkatra', cursive;
    background-color: var(--background);
    color: var(--texto);
    .espaciado{
        height: 54px;
    }
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--colorPrincipal);
    border-radius: 5px;
}
header{
    position: fixed;
    background-color: var(--texto1);
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--colorPrincipal);
    #logo{
        font-weight: bold;
        font-size: 20px;
        color: var(--colorPrincipal);
    }
    #logo:hover{
        color: var(--texto1);
    }
    .desplegableContenido{
        text-align: right;
        width: 100%;
        #webOficialHeader{
            width: 76px;
        }
    }
    & li{
        list-style: none;
    }
    & a{    
        color: var(--texto);
        text-decoration: none; 
        padding: 0 20px;  
        border-radius: 6px;
        background-color: var(--texto1);
    }
    & a:hover{
        color: var(--texto1);
        background-color: var(--colorPrincipal);
    }
    .menuApareceDesaparece{
        position: fixed;
        background-color: var(--texto1);
        width: 150px;
        height: 410px;
        right: -150px;
        top: 60px;
        border-radius: 13px 0 0 13px;
        text-align: center;
        z-index: -1;
        .despegableFormato{
            padding-top: 15px;
            & li{
                margin: 7px 0;
            }
        }
    }
    #menuCheck{
        display: none;
    }
    .menuDesing{
        color: var(--texto);
        padding: 0 20px;  
        border-radius: 6px;
        background-color: var(--texto1);
        cursor: pointer;
    }
    .menuDesing:hover{        
        color: var(--texto1);
        background-color: var(--colorPrincipal);
    }
    #menuCheck:checked ~ .menuDesing{
        color: var(--texto1);
        background-color: var(--colorSecundario);
    }
    #menuCheck:checked ~ .menuApareceDesaparece{
        right: 0;
    }
}
#title{
    height: 50px;
}
h1{
    text-align: center;
    font-size: 80px;    
    color: var(--colorPrincipal);
}
h2{
    margin: 0px 20px;
    color: var(--colorPrincipal);
}
h3{
    color: var(--texto);
    text-align: center;
}
h4{
    text-align: center;
    margin: 1px;
}
.sectionPreguntas{
    background-color: var(--background1);
    & h2{
        font-size: 30px;
    }
    .bloqueGrid{
        background-color: var(--colorPrincipal);
        gap: 10px;
        width: 96%;
        margin: 0 auto;
        & h3{
            color: var(--texto);
            background-color: var(--colorPrincipal);
        }
        & img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: top;
        }
    }
}
.section{
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
    background-color: var(--background1);
    border-left: 5px solid var(--colorPrincipal);
    padding-bottom: 7px;
    .atajo{
        width: 98%;
        margin: 0 auto;
        border-radius: 9px;
        background-color: var(--background2);
        padding-bottom: 5px;        
        text-align: center;
        #imgRender{
            width: 90%;
            border-radius: 50px;
        }
        .bloqueGrid{
            width: 98%;
            margin: 0 auto;
            display: grid;
            gap: 20px;
            background-color: var(--background3);
            border-radius: 10px;
            .tablas{
                width: auto;
                height: auto;
                margin: 20px;
                padding: 0 10px;
                border: 1px solid var(--colorTerciario);
                border-radius: 5px;
                & table{
                    border-collapse: collapse;
                    margin-bottom: 10px;
                    & td{
                        border: 1px solid var(--colorTerciario);
                        padding: 8px;
                        text-align: left;
                        & b{
                            color: var(--colorPrincipal);
                        }
                    }
                }
            }
        }
    }
}
.footer{
    background-color: #000000;
    border-radius: 0 50px 0 0;
    border-top: 11px solid var(--colorPrincipal);
    border-right: 5px solid var(--colorPrincipal);
    justify-content: space-between;
    .contactarnos{
        height: 350px;
        padding: 15px;
        & li > label{
            display: block;
            color: var(--colorPrincipal);
        }
        & input[type="text"], textarea{
            border-radius: 7px;
            padding: 5px;
            text-align: center;
            font-size: 18px;            
            font-family: 'Alkatra', cursive;
            margin-bottom: 10px;
            text-transform: capitalize;
        }
        & input::placeholder{
            color: var(--colorPrincipal);
        }
        & textarea::placeholder{
            color: var(--colorPrincipal);
        }
        .calificacion{
            margin: 0 auto;
            display: flexbox;
            font-size: 25px;
            & label{
                padding: 0 15px;
                cursor: pointer;
                color: var(--colorTerciario);
            }
            & input[type="radio"]{
                display: none;
            }
            & input[type="radio"]:hover ~ label{
                color: #fffb00;
            }
            & input[type="radio"]:checked ~ label{
                color: #fffb00;
            }
        }
        & button{            
            font-family: 'Alkatra', cursive;
            font-size: 21px;
            padding: 0 15px;
            border: none;
            cursor: pointer;
            margin-bottom: 17px;
            border-radius: 6px;
            background-color: var(--colorSecundario);
        }
        & button:hover{
            background-color: var(--colorPrincipal);
            color: var(--texto);
        }
    }    
    #whatsApp{
        text-align: center;
    }
    #contactarnosWhatsapp{
        text-decoration: none;
        padding: 0 20px;
        background-color: #0e9931;
        color: #ffffff;
        font-size: 18px;
        border-radius: 8px;
        border: 3px solid #ffffff;
    }
    #contactarnosWhatsapp:hover{
        background-color: #00ffa5;
    }
    #derechosAutor{
        width: 100%;
        text-align: right;
        padding: 20px 25px;
    }
}